.header-with-content {
    background-image: url("/img/bgk-header.png");
    height: 669px;
    background-size: cover;
}

.header-with-content__container {
    max-width: 960px;
    margin: 0 auto;
    padding: 15px 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-with-content__logo {
  display: flex;
  align-items: center;
  font-weight: 100;
  font-size: 30px;
  color: #23c3cf;
}

.header-with-content__logo img {
  margin-right: 10px;
}

.header-with-content__navigation {
    display: flex;
}

.header-with-content__navigation > a {
    font-size: 13px;
    font-weight: 900;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 0 13px;
}

.header-with-content__mobile-navigation {
    display: none;

    font-size: 20px;
    position: relative;
}

.header-with-content__mobile-navigation a {
    color: white;
}


@media (max-width: 1120px) {
    .header-with-content__navigation > a {
        font-size: 10px;
    }
}

@media (max-width: 800px) {
    .header-with-content__navigation {
        display: none;
    }

    .header-with-content__mobile-navigation {
        display: block;
    }
}

.header-with-content__mobile-navigation-button {
    font-size: 30px;
    padding: 10px;
}

.header-with-content__mobile-navigation-dropdown {
    position: absolute;
    right: 0;
    width: 200px;
    background-color: rgba(0, 0, 0, 0.9);
    /* display: none; */
    transition: 1s all;
    height: 0;
    opacity: 0;
    overflow: hidden;
}

.header-with-content__mobile-navigation-dropdown_open {
    /* display: block; */
    height: auto;
    opacity: 1;
    overflow: visible;
}

.header-with-content__mobile-navigation-dropdown a {
    display: block;
    padding: 10px;
}

.header-with-content__children {
    height: 589px;
    display: flex;
    align-items: center;
}