.second-section__wrapper {
    display: flex;
    padding: 15px 10px 30px;
    max-width: 960px;
    margin: 0 auto;
    padding: 15px 10px;
    flex-wrap: wrap;
}

.second-section h2 {
    font-family: "Playfair Display", serif;
    font-size: 22px;
    margin-top: 0;
}

.second-section__big-logo-container {
    width: 42%;
    display: flex;
    justify-content: center;
    padding: 0 10px;
}

.second-section__big-logo-container img {
    align-self: center;
    max-width: 100%;
}

.second-section__content {
    width: 58%;
    padding: 50px 0;
}

@media (max-width: 500px) {
    .second-section__big-logo-container,
    .second-section__content {
        width: 100%;
    }
}