.red-rectangle {
    background-color: red;
    color: white;
}

.landing-page__wrapper {
    width: 960px;
    margin: 0 auto;
    padding: 15px 10px;
}

hr {
    width: 51px;
    border: 1px solid #23c3cf;
    margin-bottom: 24px;
}

.button {
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    border: 1px solid #23c3cf;
    color: #23c3cf;
    font-size: 16px;
}


.sixth-section {
    padding-bottom: 27px;
}

.sixth-section .landing-page__wrapper {
    display: flex;
    padding-top: 104px;
    justify-content: space-between;
}

.sixth-section .landing-page__wrapper > * {
    margin: 0 5px;
}

.sixth-section .landing-page__wrapper > form {
    width: 50%;
}

.sixth-section .landing-page__wrapper > *:first-child {
    margin-left: 0;
}

.sixth-section .landing-page__wrapper > *:last-child {
    margin-right: 0;
}

textarea,
input {
    display: block;
    width: 100%;
    font-size: 14px;
    padding: 11px;
    margin-bottom: 25px;
}

.sixth-section form .button {
    width: initial;
}

.sixth-section h3,
.sixth-section p {
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.sixth-section h3 {
    font-family: "Playfair Display", serif;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 33px;
}

.sixth-section .client-logos {
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.sixth-section .client-logos h3 {
    width: 100%;
}

.sixth-section .client-logo {
    height: 90px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sixth-section .client-logo > img {
    max-width: 100%;
}
