* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  /*width: 1600px;*/
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.7em;
}

body > * {
  position: relative;
  z-index: 1;
}
